.home {
    background-image: url(../images/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 40%;

}
.services {
    background-image: url(../images/s_image.jpg);
    background-repeat: no-repeat;
    block-size: cover;
    height: 450 px;
    color: white;
}
.col-3{
    padding:8 px ;

}
input[type=text],input[type=email],textarea {
    background: transparent;
    color: white;

}
.text4 textarea{
    background: transparent;
    color: white;

}
.text4 textarea ,[placeholder= "Your massage here"]{
    color:white;
}