.home {
    background-image: url(../images/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 40%;

}
.services {
    background-image: url(../images/s_image.jpg);
    background-repeat: no-repeat;
    block-size: cover;
    height: 450 px;
    color: white;
}
.col-3{
    padding:8 px ;

}
input[type=text],input[type=email],textarea {
    background: transparent;
    color: white;

}
.text4 textarea{
    background: transparent;
    color: white;

}
.text4 textarea ,[placeholder= "Your massage here"]{
    color:white;
}
#overlay{
    background: #fff;
    border: solid 3px #ccc;
    color: #ff6a00;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-left: auto;
    margin: 15px;
    padding: 5px;
    position: absolute;
    left: calc(100% - 100px);
    text-transform: uppercase;
    width: 50px;
}